/*-------------------
myStyle.css
COLORS:
	color1: #FFFFFF
	color2: #000000
-------------------*/
.cssTest,#JQTest{
	background-color: blue;
	width: 400px;
	padding: 15px;
}
#JQTest{
	background-color: red;
}
.cssTest,#JQTest h1{
	color: white;
}
